---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2UtYwwKiuaAXDK&description=Sign-up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_vHVA81mPc6q71Tpg7bl5Nhoe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2UtYszQkouYLlz\",\n  \"object\": \"charge\",\n
        \ \"created\": 1378114618,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_2UtYr5PTmOTTnL\",\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 7,\n    \"exp_year\": 2014,\n
        \   \"fingerprint\": \"KniHAbbP8edNQ7pX\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n    \"address_line2\":
        null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\":
        null,\n    \"address_country\": null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\":
        null,\n    \"address_zip_check\": null\n  },\n  \"captured\": true,\n  \"balance_transaction\":
        \"txn_2UtYtZOV7y3vTf\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"Sign-up charge for john@example.com\",\n  \"dispute\":
        null,\n  \"fee\": 59,\n  \"fee_details\": [\n    {\n      \"amount\": 59,\n
        \     \"currency\": \"usd\",\n      \"type\": \"stripe_fee\",\n      \"description\":
        \"Stripe processing fees\",\n      \"application\": null\n    }\n  ]\n}\n"
  recorded_at: Mon, 02 Sep 2013 09:36:58 GMT
recorded_with: VCR 2.5.0
