<p>Someone at this email address has requested to reset their MyFlix password.</p>

<p>Please click the following link to reset your password:</p>

<%= link_to "Reset my password", password_reset_url(@user.token) %>