---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2mrtyjEbsOCC9V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vHVA81mPc6q71Tpg7bl5Nhoe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2mrtyjEbsOCC9V\",\n  \"created\": 1382259957,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_2mrtVWGvmLCW8u\",\n      \"object\":
        \"charge\",\n      \"created\": 1382259956,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_2mrtjxzEgBWaKi\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 10,\n        \"exp_year\": 2017,\n        \"fingerprint\":
        \"KniHAbbP8edNQ7pX\",\n        \"customer\": \"cus_2mrtGr8E8TYlqT\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"balance_transaction\":
        \"txn_2mrtbaOWOnJgmD\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2mrtGr8E8TYlqT\",\n
        \     \"invoice\": \"in_2mrtke0Zakn9Xt\",\n      \"description\": null,\n
        \     \"dispute\": null,\n      \"metadata\": {},\n      \"fee\": 59,\n      \"fee_details\":
        [\n        {\n          \"amount\": 59,\n          \"currency\": \"usd\",\n
        \         \"type\": \"stripe_fee\",\n          \"description\": \"Stripe processing
        fees\",\n          \"application\": null\n        }\n      ]\n    }\n  },\n
        \ \"object\": \"event\",\n  \"pending_webhooks\": 0,\n  \"request\": \"iar_2mrtkmb1oswg1l\"\n}\n"
  recorded_at: Sun, 20 Oct 2013 12:07:12 GMT
recorded_with: VCR 2.5.0
