---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_vHVA81mPc6q71Tpg7bl5Nhoe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2SfO2RgXdQ90qW\",\n  \"livemode\": false,\n  \"created\":
        1377600639,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2SfOfqffBKtvlJ\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 6,\n
        \   \"exp_year\": 2018,\n    \"fingerprint\": \"KniHAbbP8edNQ7pX\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Tue, 27 Aug 2013 10:50:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2SfO2RgXdQ90qW&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_vHVA81mPc6q71Tpg7bl5Nhoe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2SfOgkGJEO5Eu4\",\n  \"object\": \"charge\",\n
        \ \"created\": 1377600642,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_2SfOfqffBKtvlJ\",\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 6,\n    \"exp_year\": 2018,\n
        \   \"fingerprint\": \"KniHAbbP8edNQ7pX\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n    \"address_line2\":
        null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\":
        null,\n    \"address_country\": null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\":
        null,\n    \"address_zip_check\": null\n  },\n  \"captured\": true,\n  \"balance_transaction\":
        \"txn_2SfOv1QojNKtGb\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"a valid charge\",\n  \"dispute\": null,\n  \"fee\": 59,\n
        \ \"fee_details\": [\n    {\n      \"amount\": 59,\n      \"currency\": \"usd\",\n
        \     \"type\": \"stripe_fee\",\n      \"description\": \"Stripe processing
        fees\",\n      \"application\": null\n    }\n  ]\n}\n"
  recorded_at: Tue, 27 Aug 2013 10:50:42 GMT
recorded_with: VCR 2.5.0
