%section.invite.container
  .row
    .span10.offset1
      = bootstrap_form_for @invitation, class: "invite" do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = f.text_field :recipient_name, label: "Friend's name"
          = f.text_field :recipient_email, label: "Friend's email address"
          = f.text_area :message, class: "span4", placeholder: "Hey, check out this great site!", label: "Invitation Message"
        %fieldset.action
          %input(type="submit" value="Send Invitation" class="btn")
