---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2pa23Sg2vz10jN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vHVA81mPc6q71Tpg7bl5Nhoe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2pa23Sg2vz10jN\",\n  \"created\": 1382885464,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_2pa2PYOfM9c295\",\n      \"object\": \"charge\",\n      \"created\":
        1382885464,\n      \"livemode\": false,\n      \"paid\": false,\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"refunded\": false,\n      \"card\":
        {\n        \"id\": \"card_2pa2axgaPxksn4\",\n        \"object\": \"card\",\n
        \       \"last4\": \"0341\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        10,\n        \"exp_year\": 2014,\n        \"fingerprint\": \"jgF2cmYh5sLwXfxW\",\n
        \       \"customer\": null,\n        \"country\": \"US\",\n        \"name\":
        null,\n        \"address_line1\": null,\n        \"address_line2\": null,\n
        \       \"address_city\": null,\n        \"address_state\": null,\n        \"address_zip\":
        null,\n        \"address_country\": null,\n        \"cvc_check\": \"pass\",\n
        \       \"address_line1_check\": null,\n        \"address_zip_check\": null\n
        \     },\n      \"captured\": false,\n      \"balance_transaction\": null,\n
        \     \"failure_message\": \"Your card was declined.\",\n      \"failure_code\":
        \"card_declined\",\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2nJ6lEt7NUfqVV\",\n
        \     \"invoice\": null,\n      \"description\": \"failed payment\",\n      \"dispute\":
        null,\n      \"metadata\": {},\n      \"fee\": 0,\n      \"fee_details\":
        []\n    }\n  },\n  \"object\": \"event\",\n  \"pending_webhooks\": 1,\n  \"request\":
        \"iar_2pa21ts0f0FdZC\"\n}\n"
  recorded_at: Sun, 27 Oct 2013 15:09:01 GMT
recorded_with: VCR 2.5.0
