---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_00000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vHVA81mPc6q71Tpg7bl5Nhoe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"type\": \"invalid_request_error\",\n    \"message\":
        \"No such event: evt_00000000000000\",\n    \"param\": \"id\"\n  }\n}\n"
  recorded_at: Sun, 27 Oct 2013 11:34:26 GMT
recorded_with: VCR 2.5.0
